
/* Base Styles for Desktop */
/* .Navbar {
    width: 100%;
    height: 100px;
    background-color: #0b0d30;;
    display: flex;
    flex-direction: row;
  } */
  .Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Adjust padding as needed */
    background-color: var(--navbar-color);
    height: 60px; /* Adjust height as needed */
    font-family: 'Just Another Hand';
    font-size: 30px;
    width: 100%; /* Ensures navbar stretches across full width */
    box-sizing: border-box; /* Ensures padding doesn't affect the width */

  }
  
  .Navbar h3 {
    margin: 0;
    color: var(--portfolio-color);
    font-size: 40px;
  }
  
  .list {
    display: flex;
    gap: 20px; /* Space between links */
  }
  
  .list a {
    text-decoration: none;
    color: #ffffff; /* Link color */
    font-weight: bold;
  }

  .list a:hover {
    color: var(--portfolio-color); /* Change link color on hover */
  }

  .Info {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    min-height: calc(100vh - 60px); /* Full screen height minus navbar height */
    border: 60px; /* Adds margin equal to the navbar's height */
    text-align: center;
    box-sizing: border-box;
  }


  /* Media query for mobile devices */
@media (max-width: 455px) {
  .Navbar h3 {
    display: none; /* Hides the h3 on small screens */
  }

  .list {
    justify-content: center; /* Optionally center the list on small screens */
    gap: 10px; /* Space between links */
  }
}
.ThemeChanger {
  position: absolute;
  top: 45px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Theme {
  width: 5vw;
  height: 5vw;
  width: 60px;
  height: auto;
  cursor: pointer;
}

.ThemePointer {
  width: 200px;
  height: auto;
  margin-top: 70px;
  transition: opacity 0.3s ease-in-out; /* Smooth transition for hiding */
}

/* Info section */
.Info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px auto;
}

.MyPicture {
  max-width: 300px; /* Adjust for larger screens */
  width: 100%;
  height: auto;
}

.downloadButton {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

/* For smaller screens */
@media (max-width: 768px) {
  .Info {
    flex-direction: column; /* Stack all elements vertically */
    align-items: center;
  }

  .MyPicture {
    max-width: 200px; /* Adjust image size for smaller screens */
  }

  .downloadButton {
    width: 100%;
    max-width: 200px;
    margin-top: 10px; /* Ensure space between elements */
  }
}