html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    background-color: var(--background-color);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
    text-align: center;
    box-sizing: border-box;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center; /* Center aligns everything in .nav */
    width: 100%;

    margin-bottom: 20px;
    position: relative;
}

.leftLink, .rightLink {
    position: absolute;
    top: 0;
}

.leftLink {
    left: 0;
}

.rightLink {
    right: 0;
}

.navLink {
    color: #FCB83B;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px;
}
.navButton {
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 1.2rem;
    font-family: 'Cursive', sans-serif;
    text-decoration: none;
    transition: color 0.3s;
}

.arrow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 2px solid var(--text-color);
    border-radius: 50%;
    margin: 10px;
    padding-bottom: 2px;
    font-size: 1.2rem;
    transition: background-color 0.3s, transform 0.2s;
}

.text {
    padding-top: 2px;
    font-size: 40px;
    font-family: 'Just Another Hand';
    color: var(--project-color);
}

.navButton:hover .arrow {
    background-color: #7f8094; /* Background color on hover */
    transform: scale(1.2); /* Slightly enlarge on hover */
}

.navButton:hover {
    color: #ffffff; /* Change text color on hover */
}

.title {
    font-size: 70px;
    color: var(--projectTitle-color);
    margin: 0;
}

.backButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--btn-color);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.backButton:hover {
    background-color: #003ad8;
}

/* Responsive Styles */
@media (max-width: 768px) {

    .title {
        margin-top: 50px;
        font-size: 50px;
    }
}







.projectsGrid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
}


.projectCard {
    display: flex;
    padding: 15px;
    transition: transform 0.2s;
    margin-left: 3vw;
    margin-right: 3vw;
    align-items: flex-start; /* Align items to the top */
}

.projectCard:hover {
    transform: scale(1.02);
}

.imagePlaceholder {
    width: 20vw;
    aspect-ratio: 16 / 9;
    background-color: #d3d3d3;
    border-radius: 5px;
    margin-right: 20px;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    min-width: 400px;
}

.projectImage {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image fills the placeholder without distortion */
    transition: transform 0.3s ease;
}
.projectInfo {
    color: white;
    text-align: left;
    flex: 1; /* Allows the text area to take up remaining space */
}

.projectTitle {
    color: var(--projectHeading-color);
    font-size: 35px;
    font-weight: bold;
    margin: 0;
}

.projectContext {
    font-size: 25px;
    margin-top: 5px;
    overflow-wrap: break-word; /* Wraps long words or continuous text */
}

.projectCardLink {
    text-decoration: none;
    color: inherit; /* Ensures link does not alter text color */
}


@media (max-width: 750px) {
    .projectCard {
        flex-direction: column;
        align-items: flex-start;
        align-items: center; /* Center align all elements within the project card */
        text-align: center; /* Center text within the entire project card */
        margin-left: 10px;
        margin-right: 10px;
        
    }

    .imagePlaceholder {
        width: 100%;
        aspect-ratio: 16 / 9;
        border-radius: 5px;
        margin-right: 0px;
    
    }

    .projectTitle {
        font-size: 4vw;
        margin-bottom: 5px;
        text-align: center;
    }

    .projectContext {
        font-size: 3vw;
        text-align: center;

    }
}