:root {
  --background-color: #000117f7;
  --btn-color: #025307; /* Default dark theme */
  --btn-text-color: #fff;
  --text-color: #fff;

  --title-color: #FCB83B;


  --navbar-color: hsl(234, 96%, 11%);
  --portfolio-color: #FCB83B;


  --boxed-color:#041154;
  --border-color: #0B269B;


  --activityTag-color: rgb(26, 67, 252);

  --contact-color: #ffffff;

  --projectTitle-color: #ffffff;
  --project-color: #FCB83B;

  --projectText-color:#FCB83B;
  --projectHeading-color:#FCB83B;
}

[data-theme="light"] {
  --background-color: #BFEEFF;
  --btn-color: #53BDFF; /* Light theme color */
  --text-color: #7A7A7A;
  

  --title-color: #346EFF;


  --portfolio-color: #FFE101;
  --navbar-color: rgba(255, 255, 255, 0.4);


  --boxed-color:rgba(255, 255, 255, 0.3);
  --border-color: rgba(255, 255, 255, 0.7);


  --activityTag-color: hsl(202, 100%, 74%);

  --contact-color: #01003f;
  
  --projectTitle-color: #0120ce;
  --project-color: #1c99ff;
  --projectHeading-color:#4607bb;
}

/* General Reset */
* { 
  font-synthesis: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  padding: 0;
  margin: 0;
  width: 100%;
}

body {
  background-color: var(--background-color); /* Uses theme variable */
  justify-content: center;
  margin: 0 auto 60px;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 60px;
}


h1,
h2,
h3,
p {
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

h1, h3 {
  font-family: 'Just Another Hand';
}

h1 {
  color: var(--title-color);
  font-size: 125px;
  line-height: 1.1;
}

h2,
p {
  font-family: 'K2D';
  font-size: 20px;
}

h3 {
  font-size: 65px;
}

button {
  font-family: 'K2D';
  border-radius: 6px;
  border: 1px solid transparent;
  padding: 8px 15px;
  font-size: 20px;
  font-weight: 500;
  background-color: var(--btn-color); /* Button color from theme */
  color: var(--btn-text-color); /* Button text color from theme */
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #003ad8;
}
html {
  scroll-behavior: smooth;
}